html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

body{
	font-family:Arial;
}

@-webkit-keyframes simplexity { 0% {background-color: #000;} 100% {background-color: #FFF;} }

@-moz-keyframes simplexity { 0% {background-color: #000;} 100% {background-color: #FFF;} }

/*
.teaser{
	font-size: 40px;
	color: #FFF;
	margin: 0 auto;
	width: 321px;
	padding: 200px;
}

.top_teaser{
	font-size: 55px;
	margin-bottom: 10px; 
	font-weight: bolder;
	text-shadow: 4px 4px #666666
}

.teaser { -webkit-animation: robotsrosas 10s infinite alternate; }
*/
body { -webkit-animation: simplexity 2400s alternate; 
		-moz-animation: simplexity 2400s alternate;
}